Collecting st_pages
  Downloading st_pages-0.4.3-py3-none-any.whl (7.2 kB)
Requirement already satisfied: numpy<2.0.0,>=1.23.4 in ./stenv/lib/python3.11/site-packages (from st_pages) (1.25.1)
Requirement already satisfied: streamlit>=1.10.0 in ./stenv/lib/python3.11/site-packages (from st_pages) (1.24.1)
Requirement already satisfied: altair<6,>=4.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (5.3.1)
Requirement already satisfied: click<9,>=7.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (8.1.4)
Requirement already satisfied: importlib-metadata<7,>=1.4 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (6.8.0)
Requirement already satisfied: packaging<24,>=14.1 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (23.1)
Requirement already satisfied: pandas<3,>=0.25 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (2.0.3)
Requirement already satisfied: pillow<10,>=6.2.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (9.5.0)
Requirement already satisfied: protobuf<5,>=3.20 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (4.23.4)
Requirement already satisfied: pyarrow>=4.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (12.0.1)
Requirement already satisfied: pympler<2,>=0.9 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (1.0.1)
Requirement already satisfied: python-dateutil<3,>=2 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (2.8.2)
Requirement already satisfied: requests<3,>=2.4 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (2.31.0)
Requirement already satisfied: rich<14,>=10.11.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (13.4.2)
Requirement already satisfied: tenacity<9,>=8.0.0 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (8.2.2)
Requirement already satisfied: toml<2 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.0.1 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (4.7.1)
Requirement already satisfied: tzlocal<5,>=1.1 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (4.3.1)
Requirement already satisfied: validators<1,>=0.2 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (0.20.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (3.1.31)
Requirement already satisfied: pydeck<1,>=0.1.dev5 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (0.8.1b0)
Requirement already satisfied: tornado<7,>=6.0.3 in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (6.3.2)
Requirement already satisfied: watchdog in ./stenv/lib/python3.11/site-packages (from streamlit>=1.10.0->st_pages) (3.0.0)
Requirement already satisfied: jinja2 in ./stenv/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit>=1.10.0->st_pages) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in ./stenv/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit>=1.10.0->st_pages) (4.18.0)
Requirement already satisfied: toolz in ./stenv/lib/python3.11/site-packages (from altair<6,>=4.0->streamlit>=1.10.0->st_pages) (0.12.0)
Requirement already satisfied: gitdb<5,>=4.0.1 in ./stenv/lib/python3.11/site-packages (from gitpython!=3.1.19,<4,>=3->streamlit>=1.10.0->st_pages) (4.0.10)
Requirement already satisfied: zipp>=0.5 in ./stenv/lib/python3.11/site-packages (from importlib-metadata<7,>=1.4->streamlit>=1.10.0->st_pages) (3.16.0)
Requirement already satisfied: pytz>=2020.1 in ./stenv/lib/python3.11/site-packages (from pandas<3,>=0.25->streamlit>=1.10.0->st_pages) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in ./stenv/lib/python3.11/site-packages (from pandas<3,>=0.25->streamlit>=1.10.0->st_pages) (2023.3)
Requirement already satisfied: six>=1.5 in ./stenv/lib/python3.11/site-packages (from python-dateutil<3,>=2->streamlit>=1.10.0->st_pages) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./stenv/lib/python3.11/site-packages (from requests<3,>=2.4->streamlit>=1.10.0->st_pages) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in ./stenv/lib/python3.11/site-packages (from requests<3,>=2.4->streamlit>=1.10.0->st_pages) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./stenv/lib/python3.11/site-packages (from requests<3,>=2.4->streamlit>=1.10.0->st_pages) (2.0.3)
Requirement already satisfied: certifi>=2017.4.17 in ./stenv/lib/python3.11/site-packages (from requests<3,>=2.4->streamlit>=1.10.0->st_pages) (2023.5.7)
Requirement already satisfied: markdown-it-py>=2.2.0 in ./stenv/lib/python3.11/site-packages (from rich<14,>=10.11.0->streamlit>=1.10.0->st_pages) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./stenv/lib/python3.11/site-packages (from rich<14,>=10.11.0->streamlit>=1.10.0->st_pages) (2.15.1)
Requirement already satisfied: pytz-deprecation-shim in ./stenv/lib/python3.11/site-packages (from tzlocal<5,>=1.1->streamlit>=1.10.0->st_pages) (0.1.0.post0)
Requirement already satisfied: decorator>=3.4.0 in ./stenv/lib/python3.11/site-packages (from validators<1,>=0.2->streamlit>=1.10.0->st_pages) (5.1.1)
Requirement already satisfied: smmap<6,>=3.0.1 in ./stenv/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3->streamlit>=1.10.0->st_pages) (5.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in ./stenv/lib/python3.11/site-packages (from jinja2->altair<6,>=4.0->streamlit>=1.10.0->st_pages) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in ./stenv/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.10.0->st_pages) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./stenv/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.10.0->st_pages) (2023.6.1)
Requirement already satisfied: referencing>=0.28.4 in ./stenv/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.10.0->st_pages) (0.29.1)
Requirement already satisfied: rpds-py>=0.7.1 in ./stenv/lib/python3.11/site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.10.0->st_pages) (0.8.10)
Requirement already satisfied: mdurl~=0.1 in ./stenv/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.11.0->streamlit>=1.10.0->st_pages) (0.1.2)
Installing collected packages: st_pages
Successfully installed st_pages-0.4.3
